header {
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    /* display: flex; */
    background-position: center;

    width: 1320px;
    height: 600px;
    margin: 50px 270px;
    padding-top: 50px;
}

.new-year-title {
    text-align: center;
    display: block;
    margin-top: 50px;

}

.new-year {
    color: #f7f3f3;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    top: 50px;


}

.Party-Celebration {
    color: #dcdcdc;
    text-align: center;

    font-size: 120px;
    PO font-weight: 900;
    line-height: 95px;

}

.off {
    text-align: center;
    color: red;
}

.all-categories {
    text-align: center;
}

.off {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

div>h3 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

div>h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.new-year-pic {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.Welcome-blog {
    color: #ffffff;

    margin: 100px;
}

.Welcome-title {
    font-size: 100px;
    font-weight: 900;
}

.Welcome-background {
    background-image: url(../resources/Vectorrr.png);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px 270px;

}

.Hotel {
    padding-top: 10px;
}

.summary {

    background-color: rgb(247, 222, 222);
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    width: 1220px;
    height: 460px;
    margin: 50px 270px;
    padding: 50px;

}

.summary-Place {
    position: relative;
    top: 20px;
}

.summary-Time {
    position: relative;
    bottom: 20px;
}

span {
    color: #F00;
}

#join-now {
    color: #dcdcdc;
    width: 100px;
    height: 40px;
    background-color: #F00;
    border-radius: 10px;
    border: 0;

}

.best-offer {
    display: flex;

    align-items: center;
}

.surcel-pic {
    width: 300px;
    height: 300px;
    border: 10px solid red;
    border-radius: 663px;
    padding: 20px;

}

.section-one {
    margin: 50px 270px;
}

.section-two {
    width: 364;
    height: 364;

}

.section-three {
    margin: 50px 270px;
}

.offer {
    color: #f00;
    font-size: 24px;
    font-weight: 500;
}

.Coming-Soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.detail {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.functional-blog {
    text-align: center;
}

.functional {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: 29px;
}

.functional-blog {
    margin: 50px 270px 120px 270px;

}

.sel {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

.sale-50 {
    color: #070211;
}

.sel-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    padding: 0px 100px;
    position: relative;
    bottom: 30px;
}

.background {
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0px 270px;
    position: relative;


}

.fifty {
    position: relative;
    right: 180px;
    bottom: 280px;
}

.Rectangle {
    position: relative;
    left: 401px;
    bottom: 225px;

}

.Group {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50px;
}

.section-gift {
    margin: 50px;
    margin-left: 270px;

}

.gift {
    color: red;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: 30px;
}

.gift-Portfolio {
    font-size: 48px;
    font-weight: 900;
}

.gift-details {

    width: 896px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 30px;
}

.products {
    margin: 50px 270px;

}

.sources {
    margin: 10px;
}

.Subscribe-blog {
    margin: 50px 270px;
    border: 2px solid rgb(255, 212, 212);
    background-color: rgb(247, 222, 222);
    height: 616px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding-top: 150px;
}

.Subscribe-title {
    font-size: 48PX;
    font-weight: 900;
}

.Subscribe-details {
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 225px;

}

.search {
    font: 24px;
    width: 500px;
    height: 50px;
    padding: 5px;
    border: 0;
}

.Subscribe-btn {
    font-size: 20px;
    color: #dcdcdc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F00;
    width: 150px;
    height: 57px;
    position: relative;
    right: 5px;
    top: 2px;
    border: 0;


}

.last-part {
    background-color: black;
    color: white;
    height: 500px;
    padding: 70px;
}

.big {
    font-size: 24px;
    width: 375px;
    position: relative;
    top: 20px
}

.call {
    position: relative;
    left: 900px;
    bottom: 55px;
}

.number {
    font-size: 24px;
    position: relative;
    left: 940px;
    bottom: 110px;
}

.www {
    font-size: 24px;
    position: relative;
    left: 940px;
    bottom: 130px;
}

.hr {
    position: relative;
    bottom: 100px;
}

.facebook {
    text-align: center;
    position: relative;
    bottom: 50px;
}

.inst {
    margin-right: 10px;
}

.all-right {
    color: white;
    font-size: 24px;
    position: relative;
    right: 600px;
    top: 100px;
}

.Unsubscribe {
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    border: 0;
    position: relative;
    left: 1500px;
    top: 20px;
   